/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

&adc {
	status = "okay";
};

/ {
	anin0: analog_input_0 {
		compatible = "zmk,analog-input";
		sampling-hz = <100>;
		y-ch {
			io-channels = <&adc 0>; // <--- see ain-map.png for nRF52840
			mv-mid = <1716>;
			mv-min-max = <1600>;
			mv-deadzone = <88>;
			scale-multiplier = <1>;
			scale-divisor = <50>;
			#invert;
			evt-type = <INPUT_EV_REL>;
			input-code = <INPUT_REL_X>;
		};
		x-ch {
			io-channels = <&adc 1>; // <--- see ain-map.png for nRF52840
			mv-mid = <1682>;
			mv-min-max = <1600>;
			mv-deadzone = <88>;
			scale-multiplier = <1>;
			scale-divisor = <50>;
			invert;
			evt-type = <INPUT_EV_REL>;
			input-code = <INPUT_REL_Y>;

			/* enable report mdoe for gamepad axix or knob */
			/* to only call input_report on quantquantized value is updated */
			/* NOTE: mouse input does NOT need this */
			#report-on-change-only;

		};
	};
	behaviors {
		right: input_right {
	            compatible = "zmk,behavior-mod-morph";
	            #binding-cells = <0>;
	            bindings = <&kp RIGHT>, <&kp N1>;
	            mods = <(MOD_LCTL|MOD_LSFT)>;
	        };
		left: input_left {
	            compatible = "zmk,behavior-mod-morph";
	            #binding-cells = <0>;
	            bindings = <&kp LEFT>, <&kp N2>;
	            mods = <(MOD_LCTL|MOD_LSFT)>;
	        };
	        up: input_up {
	            compatible = "zmk,behavior-mod-morph";
	            #binding-cells = <0>;
	            bindings = <&kp UP>, <&kp N3>;
	            mods = <(MOD_LCTL|MOD_LSFT)>;
	        };
		down: input_down {
	            compatible = "zmk,behavior-mod-morph";
	            #binding-cells = <0>;
	            bindings = <&kp DOWN>, <&kp N4>;
	            mods = <(MOD_LCTL|MOD_LSFT)>;
	        };
    	};

	analog_input_listener {
	        status = "okay";
	        compatible = "zmk,input-listener";
	        device = <&anin0>;
	        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>;
		scroll {
			layers = <1>;
			input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>
					 , <&zip_xy_scaler 1 30>
					 , <&zip_xy_to_scroll_mapper>;
		};
        };

	zip_keybind_keys0: zip_keybind_keys0 {
	        compatible = "zmk,input-processor-keybind";
	        #input-processor-cells = <0>;
		track_remainders;
	        bindings = <&right>,
	                  <&left>,
	                  <&up>,
	                  <&down>;
	        tick = <40>;
	        wait-ms = <0>;
	        tap-ms = <10>;
	        // mode = <0>
	        // threshold = <10>
	        // max_threshold = <200>
	        // max_pending_activations = <10>
    	};
	zip_keybind_keys1: zip_keybind_keys1 {
	        compatible = "zmk,input-processor-keybind";
	        #input-processor-cells = <0>;
		track_remainders;
	        bindings = <&kp N1>,
	                  <&kp N2>,
	                  <&kp N3>,
	                  <&kp N4>;
	        tick = <40>;
	        wait-ms = <0>;
	        tap-ms = <10>;
	        // mode = <0>
	        // threshold = <10>
	        // max_threshold = <200>
	        // max_pending_activations = <10>
    	};
};

&joystick_listener {
	status = "okay";
	layer1 {
		layers = <1>;
		input-processors = <&zip_keybind_keys1>;
		process-next;
	};
	layer1-prevent {
		layers = <1>;
		input-processors = <&zip_xy_scaler 0 1>;
	};
	default {
		layers = <0>;
		input-processors = <&zip_keybind_keys0>;
		process-next;
	};
	default-prevent {
		layers = <0>;
		input-processors = <&zip_xy_scaler 0 1>;
	};
};

&kscan0 {
    col-gpios
        = <&gpio0 9 GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        ;
};
