/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/matrix.h>
#include <dt-bindings/zmk/hid_usage.h>
#include <dt-bindings/zmk/hid_usage_pages.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // 親指シフトで使用するマクロ定義をkeymapノード内に移動
        // Adv360-Pro-ZMK の macros.dtsi を参考にしています
        macros {
            macro_JPPERIOD: macro_JPPERIOD { compatible = "zmk,macro"; label = "JPPERIOD"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PERIOD>; };
            macro_KA: macro_KA { compatible = "zmk,macro"; label = "KA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_KA>; };
            macro_TA: macro_TA { compatible = "zmk,macro"; label = "TA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TA>; };
            macro_KO: macro_KO { compatible = "zmk,macro"; label = "KO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_KO>; };
            macro_SA: macro_SA { compatible = "zmk,macro"; label = "SA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_SA>; };
            macro_RA: macro_RA { compatible = "zmk,macro"; label = "RA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_RA>; };
            macro_TI: macro_TI { compatible = "zmk,macro"; label = "TI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TI>; };
            macro_KU: macro_KU { compatible = "zmk,macro"; label = "KU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_KU>; };
            macro_TU: macro_TU { compatible = "zmk,macro"; label = "TU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TU>; };
            macro_JPCOMMA2: macro_JPCOMMA2 { compatible = "zmk,macro"; label = "JPCOMMA2"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_COMMA>; }; // JP_COMMA
            macro_JPCOMMA1: macro_JPCOMMA1 { compatible = "zmk,macro"; label = "JPCOMMA1"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_COMMA>; }; // JP_COMMA
            macro_U: macro_U { compatible = "zmk,macro"; label = "U"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_U>; };
            macro_SI: macro_SI { compatible = "zmk,macro"; label = "SI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_SI>; };
            macro_TE: macro_TE { compatible = "zmk,macro"; label = "TE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TE>; };
            macro_KE: macro_KE { compatible = "zmk,macro"; label = "KE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_KE>; };
            macro_SE: macro_SE { compatible = "zmk,macro"; label = "SE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_SE>; };
            macro_HA: macro_HA { compatible = "zmk,macro"; label = "HA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_HA>; };
            macro_TO: macro_TO { compatible = "zmk,macro"; label = "TO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TO>; };
            macro_KI: macro_KI { compatible = "zmk,macro"; label = "KI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_KI>; };
            macro_I: macro_I { compatible = "zmk,macro"; label = "I"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_I>; };
            macro_NN: macro_NN { compatible = "zmk,macro"; label = "NN"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NN>; };
            macro_JPBACKSPACE: macro_JPBACKSPACE { compatible = "zmk,macro"; label = "JPBACKSPACE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp BSPC>; };
            macro_JPTEN: macro_JPTEN { compatible = "zmk,macro"; label = "JPTEN"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_TEN>; };
            macro_HI: macro_HI { compatible = "zmk,macro"; label = "HI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_HI>; };
            macro_SU: macro_SU { compatible = "zmk,macro"; label = "SU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_SU>; };
            macro_HU: macro_HU { compatible = "zmk,macro"; label = "HU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_HU>; };
            macro_HE: macro_HE { compatible = "zmk,macro"; label = "HE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_HE>; };
            macro_ME: macro_ME { compatible = "zmk,macro"; label = "ME"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ME>; };
            macro_SO: macro_SO { compatible = "zmk,macro"; label = "SO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_SO>; };
            macro_NE: macro_NE { compatible = "zmk,macro"; label = "NE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NE>; };
            macro_HO: macro_HO { compatible = "zmk,macro"; label = "HO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_HO>; };
            macro_JPNAKATEN: macro_JPNAKATEN { compatible = "zmk,macro"; label = "JPNAKATEN"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NAKATEN>; };
            macro_JPEN: macro_JPEN { compatible = "zmk,macro"; label = "JPEN"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp RET>; }; // JP_EN (Enter)

            // コンボ用のマクロ
            macro_XA: macro_XA { compatible = "zmk,macro"; label = "XA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XA>; };
            macro_E: macro_E { compatible = "zmk,macro"; label = "E"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_E>; };
            macro_RI: macro_RI { compatible = "zmk,macro"; label = "RI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_RI>; };
            macro_XYA: macro_XYA { compatible = "zmk,macro"; label = "XYA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XYA>; };
            macro_RE: macro_RE { compatible = "zmk,macro"; label = "RE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_RE>; };
            macro_PA: macro_PA { compatible = "zmk,macro"; label = "PA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PA>; };
            macro_DI: macro_DI { compatible = "zmk,macro"; label = "DI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_DI>; };
            macro_GU: macro_GU { compatible = "zmk,macro"; label = "GU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_GU>; };
            macro_DU: macro_DU { compatible = "zmk,macro"; label = "DU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_DU>; };
            macro_PI: macro_PI { compatible = "zmk,macro"; label = "PI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PI>; };
            macro_WO: macro_WO { compatible = "zmk,macro"; label = "WO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_WO>; };
            macro_A: macro_A { compatible = "zmk,macro"; label = "A"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_A>; };
            macro_NA: macro_NA { compatible = "zmk,macro"; label = "NA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NA>; };
            macro_XYU: macro_XYU { compatible = "zmk,macro"; label = "XYU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XYU>; };
            macro_MO: macro_MO { compatible = "zmk,macro"; label = "MO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MO>; };
            macro_BA: macro_BA { compatible = "zmk,macro"; label = "BA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BA>; };
            macro_DO: macro_DO { compatible = "zmk,macro"; label = "DO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_DO>; };
            macro_GI: macro_GI { compatible = "zmk,macro"; label = "GI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_GI>; };
            macro_PO: macro_PO { compatible = "zmk,macro"; label = "PO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PO>; };
            macro_XU: macro_XU { compatible = "zmk,macro"; label = "XU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XU>; };
            macro_JPMINUS2: macro_JPMINUS2 { compatible = "zmk,macro"; label = "JPMINUS2"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MINUS>; }; // JP_MINUS
            macro_RO: macro_RO { compatible = "zmk,macro"; label = "RO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_RO>; };
            macro_YA: macro_YA { compatible = "zmk,macro"; label = "YA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_YA>; };
            macro_XI: macro_XI { compatible = "zmk,macro"; label = "XI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XI>; };
            macro_PU: macro_PU { compatible = "zmk,macro"; label = "PU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PU>; };
            macro_ZO: macro_ZO { compatible = "zmk,macro"; label = "ZO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ZO>; };
            macro_PE: macro_PE { compatible = "zmk,macro"; label = "PE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_PE>; };
            macro_BO: macro_BO { compatible = "zmk,macro"; label = "BO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BO>; };
            macro_GA: macro_GA { compatible = "zmk,macro"; label = "GA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_GA>; };
            macro_DA: macro_DA { compatible = "zmk,macro"; label = "DA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_DA>; };
            macro_GO: macro_GO { compatible = "zmk,macro"; label = "GO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_GO>; };
            macro_ZA: macro_ZA { compatible = "zmk,macro"; label = "ZA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ZA>; };
            macro_YO: macro_YO { compatible = "zmk,macro"; label = "YO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_YO>; };
            macro_NI: macro_NI { compatible = "zmk,macro"; label = "NI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NI>; };
            macro_RU: macro_RU { compatible = "zmk,macro"; label = "RU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_RU>; };
            macro_MA: macro_MA { compatible = "zmk,macro"; label = "MA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MA>; };
            macro_XE: macro_XE { compatible = "zmk,macro"; label = "XE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XE>; };
            macro_VU: macro_VU { compatible = "zmk,macro"; label = "VU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_VU>; };
            macro_JI: macro_JI { compatible = "zmk,macro"; label = "JI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_JI>; };
            macro_DE: macro_DE { compatible = "zmk,macro"; label = "DE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_DE>; };
            macro_GE: macro_GE { compatible = "zmk,macro"; label = "GE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_GE>; };
            macro_ZE: macro_ZE { compatible = "zmk,macro"; label = "ZE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ZE>; };
            macro_MI: macro_MI { compatible = "zmk,macro"; label = "MI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MI>; };
            macro_O: macro_O { compatible = "zmk,macro"; label = "O"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_O>; };
            macro_NO: macro_NO { compatible = "zmk,macro"; label = "NO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NO>; };
            macro_XYO: macro_XYO { compatible = "zmk,macro"; label = "XYO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XYO>; };
            macro_XTU: macro_XTU { compatible = "zmk,macro"; label = "XTU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XTU>; };
            macro_BI: macro_BI { compatible = "zmk,macro"; label = "BI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BI>; };
            macro_ZU: macro_ZU { compatible = "zmk,macro"; label = "ZU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ZU>; };
            macro_BU: macro_BU { compatible = "zmk,macro"; label = "BU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BU>; };
            macro_BE: macro_BE { compatible = "zmk,macro"; label = "BE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BE>; };
            macro_NU: macro_NU { compatible = "zmk,macro"; label = "NU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NU>; };
            macro_YU: macro_YU { compatible = "zmk,macro"; label = "YU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_YU>; };
            macro_MU: macro_MU { compatible = "zmk,macro"; label = "MU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MU>; };
            macro_WA: macro_WA { compatible = "zmk,macro"; label = "WA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_WA>; };
            macro_XO: macro_XO { compatible = "zmk,macro"; label = "XO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XO>; };
        };

        default_layer {
            bindings = <
                &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp MINUS       &kp EQUAL       &kp LBRC        &kp RBRC
                &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L           &kp SEMI        &kp SQT         &kp BSLH        &kp GRAVE       &kp CAPS
                &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &kp LSHIFT      &kp RSHIFT      &kp LCTRL       &kp RCTRL
                &kp LALT        &kp LGUI        &kp TAB         &kp ESC         &kp SPACE       &kp RET         &kp BSPC        &kp DEL         &kp UP          &kp DOWN        &kp LEFT        &kp RIGHT       &kp PG_UP       &kp PG_DN
                &trans          &trans          &trans          &trans          &trans          &trans          &mo 4           &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };

        // 親指シフトレイヤー (レイヤー4)
        nicola_layer {
            display-name = "NICOLA";
            bindings = <
                // Row 0 (Keys 0-13)
                &trans          &macro_JPPERIOD &macro_KA       &macro_TA       &macro_KO       &macro_SA       &macro_RA       &macro_TI       &macro_KU       &macro_TU       &macro_JPCOMMA2 &macro_JPCOMMA1 &trans          &trans
                // Row 1 (Keys 14-27)
                &trans          &macro_U        &macro_SI       &macro_TE       &macro_KE       &macro_SE       &macro_HA       &macro_TO       &macro_KI       &macro_I        &macro_NN       &macro_JPBACKSPACE &trans          &trans
                // Row 2 (Keys 28-41)
                &trans          &macro_JPTEN    &macro_HI       &macro_SU       &macro_HU       &macro_HE       &macro_ME       &macro_SO       &macro_NE       &macro_HO       &macro_JPNAKATEN &macro_JPEN    &trans          &trans
                // Row 3 (Keys 42-55) - Peripheral keys, set to transparent
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
                // Row 4 (Keys 56-69) - Thumb keys / bottom row, set to transparent
                &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };
    };

    // 親指シフトコンボ定義 (keymapノードの外に維持)
    combos {
        compatible = "zmk,combos";

        combo_XA { timeout-ms = <50>; key-positions = <1 37>; layers = <4>; bindings = <&macro_XA>; };
        combo_E { timeout-ms = <50>; key-positions = <2 37>; layers = <4>; bindings = <&macro_E>; };
        combo_RI { timeout-ms = <50>; key-positions = <3 37>; layers = <4>; bindings = <&macro_RI>; };
        combo_XYA { timeout-ms = <50>; key-positions = <4 37>; layers = <4>; bindings = <&macro_XYA>; };
        combo_RE { timeout-ms = <50>; key-positions = <5 37>; layers = <4>; bindings = <&macro_RE>; };
        combo_PA { timeout-ms = <50>; key-positions = <6 37>; layers = <4>; bindings = <&macro_PA>; };
        combo_DI { timeout-ms = <50>; key-positions = <7 37>; layers = <4>; bindings = <&macro_DI>; };
        combo_GU { timeout-ms = <50>; key-positions = <8 37>; layers = <4>; bindings = <&macro_GU>; };
        combo_DU { timeout-ms = <50>; key-positions = <9 37>; layers = <4>; bindings = <&macro_DU>; };
        combo_PI { timeout-ms = <50>; key-positions = <10 37>; layers = <4>; bindings = <&macro_PI>; };
        combo_WO { timeout-ms = <50>; key-positions = <13 37>; layers = <4>; bindings = <&macro_WO>; };
        combo_A { timeout-ms = <50>; key-positions = <14 37>; layers = <4>; bindings = <&macro_A>; };
        combo_NA { timeout-ms = <50>; key-positions = <15 37>; layers = <4>; bindings = <&macro_NA>; };
        combo_XYU { timeout-ms = <50>; key-positions = <16 37>; layers = <4>; bindings = <&macro_XYU>; };
        combo_MO { timeout-ms = <50>; key-positions = <17 37>; layers = <4>; bindings = <&macro_MO>; };
        combo_BA { timeout-ms = <50>; key-positions = <18 37>; layers = <4>; bindings = <&macro_BA>; };
        combo_DO { timeout-ms = <50>; key-positions = <19 37>; layers = <4>; bindings = <&macro_DO>; };
        combo_GI { timeout-ms = <50>; key-positions = <20 37>; layers = <4>; bindings = <&macro_GI>; };
        combo_PO { timeout-ms = <50>; key-positions = <21 37>; layers = <4>; bindings = <&macro_PO>; };
        combo_XU { timeout-ms = <50>; key-positions = <25 37>; layers = <4>; bindings = <&macro_XU>; };
        combo_JPMINUS2 { timeout-ms = <50>; key-positions = <26 37>; layers = <4>; bindings = <&macro_JPMINUS2>; };
        combo_RO { timeout-ms = <50>; key-positions = <27 37>; layers = <4>; bindings = <&macro_RO>; };
        combo_YA { timeout-ms = <50>; key-positions = <28 37>; layers = <4>; bindings = <&macro_YA>; };
        combo_XI { timeout-ms = <50>; key-positions = <29 37>; layers = <4>; bindings = <&macro_XI>; };
        combo_PU { timeout-ms = <50>; key-positions = <30 37>; layers = <4>; bindings = <&macro_PU>; };
        combo_ZO { timeout-ms = <50>; key-positions = <31 37>; layers = <4>; bindings = <&macro_ZO>; };
        combo_PE { timeout-ms = <50>; key-positions = <32 37>; layers = <4>; bindings = <&macro_PE>; };
        combo_BO { timeout-ms = <50>; key-positions = <33 37>; layers = <4>; bindings = <&macro_BO>; };

        combo_GA { timeout-ms = <50>; key-positions = <2 40>; layers = <4>; bindings = <&macro_GA>; };
        combo_DA { timeout-ms = <50>; key-positions = <3 40>; layers = <4>; bindings = <&macro_DA>; };
        combo_GO { timeout-ms = <50>; key-positions = <4 40>; layers = <4>; bindings = <&macro_GO>; };
        combo_ZA { timeout-ms = <50>; key-positions = <5 40>; layers = <4>; bindings = <&macro_ZA>; };
        combo_YO { timeout-ms = <50>; key-positions = <6 40>; layers = <4>; bindings = <&macro_YO>; };
        combo_NI { timeout-ms = <50>; key-positions = <7 40>; layers = <4>; bindings = <&macro_NI>; };
        combo_RU { timeout-ms = <50>; key-positions = <8 40>; layers = <4>; bindings = <&macro_RU>; };
        combo_MA { timeout-ms = <50>; key-positions = <9 40>; layers = <4>; bindings = <&macro_MA>; };
        combo_XE { timeout-ms = <50>; key-positions = <10 40>; layers = <4>; bindings = <&macro_XE>; };
        combo_VU { timeout-ms = <50>; key-positions = <13 40>; layers = <4>; bindings = <&macro_VU>; };
        combo_JI { timeout-ms = <50>; key-positions = <14 40>; layers = <4>; bindings = <&macro_JI>; };
        combo_DE { timeout-ms = <50>; key-positions = <15 40>; layers = <4>; bindings = <&macro_DE>; };
        combo_GE { timeout-ms = <50>; key-positions = <16 40>; layers = <4>; bindings = <&macro_GE>; };
        combo_ZE { timeout-ms = <50>; key-positions = <17 40>; layers = <4>; bindings = <&macro_ZE>; };
        combo_MI: macro_MI { compatible = "zmk,macro"; label = "MI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MI>; };
        combo_O: macro_O { compatible = "zmk,macro"; label = "O"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_O>; };
        combo_NO: macro_NO { compatible = "zmk,macro"; label = "NO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NO>; };
        combo_XYO: macro_XYO { compatible = "zmk,macro"; label = "XYO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XYO>; };
        combo_XTU: macro_XTU { compatible = "zmk,macro"; label = "XTU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XTU>; };
        combo_BI: macro_BI { compatible = "zmk,macro"; label = "BI"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BI>; };
        combo_ZU: macro_ZU { compatible = "zmk,macro"; label = "ZU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_ZU>; };
        combo_BU: macro_BU { compatible = "zmk,macro"; label = "BU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BU>; };
        combo_BE: macro_BE { compatible = "zmk,macro"; label = "BE"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_BE>; };
        combo_NU: macro_NU { compatible = "zmk,macro"; label = "NU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_NU>; };
        combo_YU: macro_YU { compatible = "zmk,macro"; label = "YU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_YU>; };
        combo_MU: macro_MU { compatible = "zmk,macro"; label = "MU"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_MU>; };
        combo_WA: macro_WA { compatible = "zmk,macro"; label = "WA"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_WA>; };
        combo_XO: macro_XO { compatible = "zmk,macro"; label = "XO"; wait-ms = <0>; tap-ms = <0>; bindings = <&kp JP_XO>; };
    };
};
