/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "ergonaut_one.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 600  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

&adc {
	status = "okay";
};

/ {
	anin0: analog_input_0 {
		compatible = "zmk,analog-input";
		sampling-hz = <100>;
		y-ch {
			io-channels = <&adc 0>; // Y軸がADCチャンネル0に接続
			mv-mid = <1716>; // Y軸のニュートラル（中央）でのミリボルト値
			mv-min-max = <1600>; // Y軸の最小/最大ミリボルト範囲
			mv-deadzone = <88>; // Y軸のデッドゾーン（感度を調整）
			scale-multiplier = <1>; // スケーリングの乗数
			scale-divisor = <50>; // スケーリングの除数
			#invert; // Y軸の入力を反転
			evt-type = <INPUT_EV_REL>; // 相対イベントタイプ
			input-code = <INPUT_REL_X>; // Y軸の動きをマウスのX軸（水平）にマッピング
		};
		x-ch {
			io-channels = <&adc 1>; // X軸がADCチャンネル1に接続
			mv-mid = <1682>; // X軸のニュートラル（中央）でのミリボルト値
			mv-min-max = <1600>; // X軸の最小/最大ミリボルト範囲
			mv-deadzone = <88>; // X軸のデッドゾーン
			scale-multiplier = <1>;
			scale-divisor = <50>;
			invert; // X軸の入力を反転
			evt-type = <INPUT_EV_REL>;
			input-code = <INPUT_REL_Y>; // X軸の動きをマウスのY軸（垂直）にマッピング

			/* enable report mdoe for gamepad axix or knob */
			/* to only call input_report on quantquantized value is updated */
			/* NOTE: mouse input does NOT need this */
			#report-on-change-only; // 値が変更された時のみレポート（マウス入力では不要とコメントされているが、設定されている）
		};
	};
	behaviors {
		right: input_right {
				compatible = "zmk,behavior-mod-morph";
				#binding-cells = <0>;
				bindings = <&kp RIGHT>, <&kp END>;
				mods = <(MOD_LCTL|MOD_LSFT)>;
		};
		left: input_left {
				compatible = "zmk,behavior-mod-morph";
				#binding-cells = <0>;
				bindings = <&kp LEFT>, <&kp HOME>;
				mods = <(MOD_LCTL|MOD_LSFT)>;
		};
		up: input_up {
				compatible = "zmk,behavior-mod-morph";
				#binding-cells = <0>;
				bindings = <&kp UP>, <&kp PG_UP>;
				mods = <(MOD_LCTL|MOD_LSFT)>;
	};
		down: input_down {
				compatible = "zmk,behavior-mod-morph";
				#binding-cells = <0>;
				bindings = <&kp DOWN>, <&kp PG_DN>;
				mods = <(MOD_LCTL|MOD_LSFT)>;
		};
};

	analog_input_listener {
			status = "okay";
			compatible = "zmk,input-listener";
	        device = <&anin0>; // 前述のアナログ入力デバイス (anin0) を監視
	        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP)>; // X軸とY軸の入力をスワップ

		scroll {
			layers = <2>; // レイヤー2がアクティブな場合
			input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)> // X/YスワップとY反転
					 , <&zip_xy_scaler 1 30> // スケーリング（1/30）
					 , <&zip_xy_to_scroll_mapper>; // スクロールイベントにマッピング
		};
        };

	zip_keybind_keys0: zip_keybind_keys0 {
			compatible = "zmk,input-processor-keybind";
			#input-processor-cells = <0>;
		track_remainders;
			bindings = <&right>,
						<&left>,
						<&up>,
						<&down>;
	        tick = <80>; // ティック間隔
	        wait-ms = <0>; // 待機時間
	        tap-ms = <10>; // タップ時間
	};
	zip_keybind_keys1: zip_keybind_keys1 {
			compatible = "zmk,input-processor-keybind";
			#input-processor-cells = <0>;
		track_remainders;
			bindings = <&kp END>,
						<&kp HOME>,
						<&kp PG_UP>,
						<&kp PG_DN>;
			tick = <80>;
			wait-ms = <0>;
			tap-ms = <10>;
	        // mode = <0>
	        // threshold = <10>
	        // max_threshold = <200>
	        // max_pending_activations = <10>
	};
};

&joystick_listener {
	status = "okay";
	layer1 {
		layers = <1>; // レイヤー1がアクティブな場合
		input-processors = <&zip_keybind_keys1>; // zip_keybind_keys1 を使用
		process-next; // 他のプロセッサも処理を継続
	};
	layer1-prevent {
		layers = <1>; // レイヤー1がアクティブな場合
		input-processors = <&zip_xy_scaler 0 1>; // ジョイスティックの動きをゼロにスケーリング（無効化）
	};
	default {
		layers = <0>; // レイヤー0（デフォルト）がアクティブな場合
		input-processors = <&zip_keybind_keys0>; // zip_keybind_keys0 を使用
		process-next;
	};
	default-prevent {
		layers = <0>; // レイヤー0がアクティブな場合
		input-processors = <&zip_xy_scaler 0 1>; // ジョイスティックの動きをゼロにスケーリング（無効化）
	};
};

&kscan0 {
    col-gpios
        = <&gpio0 9 GPIO_ACTIVE_HIGH>
        , <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 2 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        ;
};
